In [12]:
import pandas as pd
import json
import streamlit as st
import wget
import sqlite3

### captura dos dados

In [4]:
countries = pd.read_json('https://gco.iarc.fr/causes/obesity/data/countries.json')
cancers = pd.read_json('https://gco.iarc.fr/causes/obesity/data/cancers.json')

In [5]:
# preventable = wget.download('https://gco.iarc.fr/causes/obesity/data/preventable.json')
# attributable = wget.download('https://gco.iarc.fr/causes/obesity/data/attributable.json')

In [17]:
with open('attributable.json') as json_data:
    data = json.load(json_data)
    attributable = pd.json_normalize(data['both'])

In [18]:
attributable

,attr_cases,total_m,total_f,paf_all,sum_attr_cases,inc_m,inc_f,attr_cases_m,attr_cases_f,paf_obs_m,paf_obs_f,paf_obs_both,country.id,country.name,country.WHO_REGION,country.WHO_NAME,region.id,region.name,cancer.id,cancer.name
0,2.503543,3464,5653,0.000275,2.503543,12.196691,6.848275,1.240256,1.263288,0.101688,0.184468,0.131454,1,Angola,AFRO,WHO Africa region,1,sub-Saharan Africa,1,Oesophageal adenocarcinoma
1,5.298474,3464,5653,0.000307,2.794930,56.000000,44.000000,1.316683,1.478247,0.023512,0.033597,0.027949,1,Angola,AFRO,WHO Africa region,1,sub-Saharan Africa,2,Pancreas
2,10.490706,3464,5653,0.000570,5.192232,31.000000,36.000000,1.323300,3.868932,0.042687,0.107470,0.077496,1,Angola,AFRO,WHO Africa region,1,sub-Saharan Africa,3,Kidney
3,19.403432,3464,5653,0.000978,8.912726,123.965108,140.032852,4.454331,4.458396,0.035932,0.031838,0.033761,1,Angola,AFRO,WHO Africa region,1,sub-Saharan Africa,4,Colon
4,22.269271,3464,5653,0.000314,2.865839,80.863397,92.183194,1.414914,1.450925,0.017498,0.015740,0.016561,1,Angola,AFRO,WHO Africa region,1,sub-Saharan Africa,5,Rectum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579,1.213892,70,93,0.001405,0.229090,1.529078,1.685359,0.136307,0.092784,0.089143,0.055053,0.071269,176,Vanuatu,WPRO,WHO Western Pacific region,12,Oceania,5,Rectum
1580,1.213892,70,93,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,176,Vanuatu,WPRO,WHO Western Pacific region,12,Oceania,6,Gallbladder
1581,4.614759,70,93,0.036568,3.400868,NaN,8.000000,0.000000,3.400868,NaN,0.425108,0.425108,176,Vanuatu,WPRO,WHO Western Pacific region,12,Oceania,7,Corpus uteri
1582,4.802432,70,93,0.002018,0.187673,NaN,3.000000,0.000000,0.187673,NaN,0.062558,0.062558,176,Vanuatu,WPRO,WHO Western Pacific region,12,Oceania,8,Ovary
1583,6.896189,70,93,0.022514,2.093757,NaN,15.000000,0.000000,2.093757,NaN,0.139584,0.139584,176,Vanuatu,WPRO,WHO Western Pacific region,12,Oceania,9,Breast (postmenopausal)

In [7]:
with open('preventable.json') as json_data:
    data = json.load(json_data)
    preventable = pd.json_normalize(data['both'])

In [14]:
attributable = attributable[['total_m', 'total_f', 'country.name', 'country.WHO_NAME', 'cancer.name']]
attributable = attributable.rename(columns={"country.name":"country", "country.WHO_NAME":"continent", "cancer.name":"cancer"})
attributable['continent'] = attributable['continent'].apply(lambda x: x.replace("WHO ",""))

In [15]:
preventable = preventable[['total_m', 'total_f', 'country.name', 'country.WHO_NAME', 'cancer.name']]
preventable = preventable.rename(columns={"country.name":"country", "country.WHO_NAME":"continent", "cancer.name":"cancer"})
preventable['continent'] = preventable['continent'].apply(lambda x: x.replace("WHO ",""))

In [11]:
prev.head()

   total_m  total_f country      continent                      cancer
0     3464     5653  Angola  Africa region  Oesophageal adenocarcinoma
1     3464     5653  Angola  Africa region                    Pancreas
2     3464     5653  Angola  Africa region                      Kidney
3     3464     5653  Angola  Africa region                       Colon
4     3464     5653  Angola  Africa region                      Rectum

In [13]:
con = sqlite3.connect("tutorial.db")

In [16]:
attributable.to_sql('attributable', con=con)
preventable.to_sql('preventable', con=con)

1584